<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body>
    <div class="container mt-3">
	<div class="card row  ">
	<h5 class="card-header text-center">Formulario de cadastro</h5>
		<form class="form-group col-sm-8">
		<div class=" mb-3">
				<label for="exampleInputEmail1" class="form-label">Nome	</label>
				 <input type="name" class="form-control" >
				<div  class="form-text"></div>
			</div>
			<div class="mb-3">
				<label  class="form-label">CPF</label>
				 <input type="number" class="form-control" >
				 <div  class="form-text"></div>
			</div>	
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="password" class="form-control"
					id="exampleInputPassword1">
			</div>
			<div class="mb-3">
				<label  class="form-label">Email </label>
				 <input class="form-control"
					>
				<div  class="form-text"></div>
			</div>
			<div class="form-floating">
				<textarea class="form-control" placeholder="Leave a comment here"
					id="floatingTextarea"></textarea>
				<label for="floatingTextarea">Contribua com um comentario para o desenvolvimento</label>
			</div>
			<div class="card-body mt-3 alert " role="alert">
		
		<a href=""> <button class="btn btn-primary sm mt-3  " data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="submit">Enviar </button> </a>
			
			
				</div>
		</form>


			</div>


	</div>
</body>
</html>